<h1>Bienvenue sur Snowtricks !</h1>
<hr>
<p>
    Bonjour {{ username }}, <hr>
    Merci pour ton inscription sur le site Snowtricks. Pour valider ton email et activer ton compte, clique sur le lien suivant:
    <a href="{{ signedUrl }}">Activer mon compte</a>

<p>Merci, et à très vite &#128521;</p>
