* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
}

h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: #2A3336;
}

ul, li {
    list-style: none;
}

.flash-message {
    width: fit-content;
    margin: auto;
}

/* HEADER */

.navbar {
    z-index: 10;
}

.mobile-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-link {
    color: #5B7075;
}

.nav-link i {
    font-size: 30px;
}

@media (max-width: 767px) {
    .navbar {
        position: fixed;
        bottom: 0;
        background-color: #9BC9D4;
        width: 100%;
        height: 70px;
    }
}


/* LOGIN / REGISTER */

.login-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: auto;
    margin-top: 18px;
}

.form-container .login-form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    border-radius: 20px;
    border: 1px solid #9bb4d4;
    background: #9BC9D4;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #80B1BD;
    background: linear-gradient(to right, #9BC9D4, #80B1BD) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

.icons {
	display: flex;
	width: 30px;
	height: 30px;
	letter-spacing: 15px;
	align-items: center;
}

.overlay-container {
    display:none;
  }

.ghost {
    border-radius: 20px;
    border: 1px solid #9bb4d4;
    background: #9BC9D4;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.ghost:hover {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width:780px) {
    .overlay-container {
        display:block;
    }
}

@media screen and (max-width:780px) {
    .sign-in-container {
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .login-container {
        position: static;
    }
}

/* HERO */

#hero {
    width: 100%;
    height: 89vh;
    background: url("../img/hero.jpg") center center;
    background-size: cover;
    position: relative;
}
#hero .container {
    padding-top: 80px;
}
#hero .wrap-icon {
      position: absolute;
      right: 30px;
      top: 20px;
}
#hero .wrap-icon i {
    color: #fff;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
#hero h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.scroll-down {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
    #hero .container {
      padding-top: 60px;
    }
    #hero h1 {
      font-size: 32px;
      line-height: 36px;
    }
  }
  @media (max-width: 767px) {
    .scroll-down {
        position: absolute;
        right: 15px;
        bottom: 85px;
    }
}

/* TRICKS */

.btn-custom {
    color: #03989E;
    border: 1px solid #03989E;
}
.btn-custom:hover {
    background-color: #03989E;
    color: #fff;
}
.btn-blue {
    background-color: #03989E;
    color: #fff;
}
.btn-red {
    background-color: #FE1B00;
    border-radius: 25px;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 0;
}
.btn-red a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.card-title {
    margin-bottom: 0;
}
.card-body i {
    margin-left: 10px;
    margin-top: 5px;
}
#trick-content {
    display: none;
}

@media screen and (max-width:767px) {
    .btn-red {
        width: 100%;
    }
}

/* TRICKS DETAILS */
#hero-detail {
    height: 89vh;
    background-size: cover;
    position: relative;
    background-position: center center;
}
.wrap-icons {
    position: absolute;
    right: 30px;
    top: 20px;
}
.wrap-icons i {
    color: #fff;
}
.btn-comment {
    margin: auto;
    width: 20%;
}
.comments {
    padding: 30px 35px;
    border-radius: 15px;
    box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%), 0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
}
.entry-comments-item {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}
.entry-comments-avatar {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.entry-comments-body {
    padding-left: 86px;
}
.entry-comments-author {
    font-size: 16px;
    color: #292929;
    letter-spacing: 0.1em;
    font-weight: 600;
}
.comment-date {
    font-size: 13px
}
.comment-content {
    margin: 10px;
    padding: 0;
    font-size: 15px;
    color: #999999;
}
#comment_content {
    width: 100%;
}
.trick-medias {
    width: 100%;
    height: 18.75rem;
}
.detail-category {
    font-size: 14px;
    background: gray;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}
#seeMedia {
	display: none;
}

@media screen and (max-width:767px) {
    #hero-detail {
        height: 92vh;
    }
    .btn-comment {
        width: 35%;
    }
    #trickMedia {
		display: none;
	}
    #seeMedia {
        display: block;
    }
}

@media screen and (max-width:1000px) {
    .img-media {
        margin-bottom: 10px;
    }
}


/* TRICK FORM */

.wrapp {
	border-radius: 5px;
	max-width:800px;
	width:100%;
	margin: 5% auto;
	overflow: hidden;
}
  
textarea {
	margin: 0;
	height: 200px !important;
}

.headline-text {
	height: 100px !important; 
}
  
.bug_cls {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #ccc;
}

.submit-form {
	width: 30%;
    border: none;
    padding: 10px 10px;
    margin: auto;
    display: block;
}

.label-form {
	color: #03989E;
}

textarea.form-control, .contentform input, .contentform select {
	border-radius: 25px;
}

.media-icon {
    background: #9BC9D4;
    color: #fff;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    padding: 9px;
}

ul.tags {
    padding: 0;
}

.tags label {
    margin-right: 10px;
}

.input-medias input[type='checkbox'] {
    width: 20px!important;
}

@media screen and (max-width:767px) {
    .collection-item {
        display: flex;
        flex-direction: column;
    }
    .submit-form {
        width: -webkit-fill-available;
    }
}

/* FOOTER */

footer {
    background-color: #2A3336;
    margin-top: 50px;
    color: #fff;
}

@media screen and (max-width:767px) {
    footer {
        bottom: 70px;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 70px;
    bottom: 70px;
    z-index: 996;
    background: #03989E;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    text-decoration: none;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width:767px) {
    .back-to-top {
        right: 10px;
        bottom: 80px;
      }
}