{% extends "base.html.twig" %}

{% block title %}Snowtricks - Mot de passe oublié{% endblock %}

{% block content %}

<div class="login-container" id="container">
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Mot de passe oublié ?</h1>
            <input type="text" placeholder="Pseudo" />
            <button>Réinitialiser</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Pas de panique!</h1>
                <p>Vous allez recevoir un email vous permettant d'être redirigé vers la page de modification de votre mot de passe.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
