{% extends "base.html.twig" %}

{% block title %}Snowtricks - Connexion{% endblock %}

{% block content %}

<div class="login-container" id="container">
    <div class="form-container sign-in-container">
        {{ form_start(form) }}
        <h1>Se connecter</h1>
        <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>ou utilisez votre compte</span>
        {{ form_widget(form.username, {'attr': {'placeholder': 'Pseudo'}}) }}
        {{ form_widget(form.password, {'attr': {'placeholder': 'Mot de passe'}}) }}
        <a href="/reinitialisation">Mot de passe oublié?</a>
        <button type="submit">Connexion</button>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Bienvenue !</h1>
                <p>Vous n'avez pas encore de compte ? Créez-en un pour rejoindre la communauté Snowtricks</p>
                <a href="/inscription"><button class="ghost" id="signUp">S'inscrire</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
