{% extends "base.html.twig" %}

{% block title %}Snowtricks - Modifier mon mot de passe{% endblock %}

{% block content %}

<div class="login-container" id="container">
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Modification</h1>
            <input type="text" placeholder="Pseudo" />
            <input type="text" placeholder="Mot de passe" />
            <button>Confirmer</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Dernière étape</h1>
                <p>Choisissez votre nouveau mot de passe puis confirmez. Il ne vous reste plus qu'à vous en rappeler !</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
