{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Connexion{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative">
        <h1>Snowtricks</h1>
        <h2>La communauté des passionnés</h2>
    </div>
    <a href="#" class="scroll-down"><span class="iconify" data-icon="ant-design:arrow-down-outlined" data-width="30" data-height="30"></span></a>
</section>
{% endblock %}